<%- include('partials/head.ejs') %>
   <!-- <% const {DELETE_SUBSCRIPTION} = locals.paths %>  -->
   <main class="container">
    <!-- ---------------------------------------------- -->
    <!-- FORM TO ADD ALERTS -->
    <form action="/subscribe-to-live" method="POST" required>
      <fieldset role="group">
        <input type="text" name="username" placeholder="Streamer name" />
        <input type="submit" value="Add Discord alert" />
      </fieldset>
    </form>
  
    <!-- ---------------------------------------------- -->
    <!-- CARD USER  -->
    <div class="card-row">
      <% streamers.forEach(streamer => { %>
        <article class="card">
    
          <img src="<%= streamer.profilePicture %>" alt="Profil de <%= streamer.user %>" class="card-image" />
          <div class="card-info">
            <h2><%= streamer.user %></h2>
            <p>Nombre de streams : <%= streamer.streamCount %></p>
            <p>Jeu préféré : <%= streamer.favoriteGame %></p>
            <p class="gradient-text">⭐ <%= streamer.favoriteGame %></p>
          </div>
          <form method="POST" action="<%= DELETE_SUBSCRIPTION.path.replace(':username', streamer.user) %>">
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" class="delete-button">Supprimer alerte</button>
          </form>
        </article>

      <% }) %>
    </div>
  </main>
  
  </body>

  <style>
.card-row {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
}

.card{
  display: flex;
    flex-direction: column;
    align-items: stretch;
}

.card-image {
  width: 100%; /* Largeur pleine */
  height: auto; /* Hauteur automatique pour préserver le ratio */
}

.card-info {
  flex-grow: 1; /* Permet à la zone d'information de prendre tout l'espace restant */

}

.delete-button {
  background-color: #f06048; /* Couleur de fond */
  color: white; /* Couleur du texte */
  border: none; /* Pas de bordure */
  border-radius: 4px; /* Arrondir le bouton */
  cursor: pointer; /* Changer le curseur pour indiquer que c'est cliquable */
}

  </style>
</html>
