include partials/head.pug

main.ctr-flx
    section.container
        article
            - if (errorMessage)
                p(class="txt-ctr error-message")= errorMessage

            //- ------------------------------------------------------------------------------------------
            //- FORM FOR RESET PASSWORD
            - if (changePassword)
                form(action=paths.USER.confirmResetPassword, method="POST")
                    input(type="hidden", name="token", value=token)
                    input(type="hidden", name="userId", value=userId)
                    
                    
                    //------- PASSWORD INPUT
                    div.bline-flx
                        label(for="password") Password - 
                            small 8 characters min and a special symbol (@, !, ?)
                        if errors
                            each error in errors
                                if error.path === 'password'
                                    small.error-form-message= error.msg
                    input(type="password" id="password" name="password")

                    //------- CONFIRM PASSWORD INPUT
                    div.bline-flx
                        label(for="confirmPassword") Confirm password
                        if errors
                            each error in errors
                                if error.path === 'confirmPassword'
                                    small.error-form-message= error.msg
                    input(type="password" id="confirmPassword" name="confirmPassword")

                    //------- SUBMIT BUTTON
                    button(type="submit") Change password
                    p.txt-ctr 
                        a(href=paths.GENERAL.home class="txt-ctr") Home

            //- ------------------------------------------------------------------------------------------
            //- FORM FOR REQUEST RESET PASSWORD
            - else if (requestReset)
                h2.txt-ctr= "Forgot your password ?"
                p.txt-ctr= "Enter your email address and we will send you a link to reset your password."

                - if (successMessage)
                    p(class="txt-ctr success-message")= successMessage
                form(method="POST", action=paths.USER.requestResetPassword)

                    //------- EMAIL INPUT
                    div.bline-flx
                        label(for="email")= "Email"
                        if errors
                            each error in errors
                                if error.path === 'email'
                                    small.error-form-message= error.msg
                    input(type="text", id="email", name="email", placeholder="Your email", value=(formData ? formData.email : null))

                    //------- SUBMIT BUTTON
                    button.contrast(type="submit") Send reset link
                    p.txt-ctr 
                        a(href=paths.GENERAL.home class="txt-ctr") Home

            //- ------------------------------------------------------------------------------------------
            //- ERROR LINK
            - if (errorLink)
                p(class="txt-ctr error-message")= "The link has expired or is invalid. Please request a new one."
                p.txt-ctr 
                    a(href=paths.GENERAL.home class="txt-ctr") Home



include partials/footer.pug